{% extends 'base.html' %}
{% block title %}Search{% endblock %}

{% block content %}

<form method = 'POST'>
    <input name = 'participant-id' id = 'participant-id' class = 'form-control'></input>
    <select name = 'task' id = 'task'>
        <option value="task1">Task 1</option>
        <option value="task2">Task 2</option>
        <option value="task3">Task 3</option>
    </select>
    <br />
    <div align = 'center'>
      <button type = 'submit' class = 'btn btn-primary'>Add Note</button>
    </div>
  </form>

{% endblock %}

