{% extends 'base.html' %}
{% block title %}Signup{% endblock %}

{% block content %}
<form method = 'POST'>
  {{ form.csrf_token }}
  <h3 align = 'center'>Sign Up</h3>
    <div class = 'form-group mb-3'>
      <label for='name'>{{ form.name.label }}</label>
      {{ form.name(class = 'form-control', placeholder = 'Enter full name') }}
    </div>
    <div class = 'form-group mb-3'>
      <label for='email'>{{ form.email.label }}</label>
      {{ form.email(class = 'form-control', placeholder = 'Enter email') }}
    </div>
    <div class = 'form-group mb-3'>
      <label for='password'>{{ form.password.label }}</label>
      {{ form.password(class = 'form-control', placeholder = 'Enter password') }}
    </div>
    <div class = 'form-group mb-3'>
      <label for='confirm'>{{ form.confirm.label }}</label>
      {{ form.confirm(class = 'form-control', placeholder = 'Confirm password') }}
    </div>
  <br/>
  <div class = 'col text-center'>
    {{ form.submit(class = 'btn btn-primary') }}
  </div>
</form>
{% endblock %}
